#apple {
    color: red;
}

.dropT {
    display: none;
    width: full;
    background-color: white;
    padding: 8px;
    
}




.dropM:hover .dropT{
    display: flex;
    
}

.dropM > a {
    position:relative;
}

.dropM > a::after{
    content: '';
    width: 0%;
    left: 50%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid orange;
    transition:all .3s ease;
}

.dropM:hover > a::after{
    content: '';
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid orange;
    transition: all .2s ease;

}

div::-webkit-scrollbar{
    background-color: white;
    height: 3px;
}

div::-webkit-scrollbar-thumb{
    background-color: rgb(163 163 163);
    border-radius: 1rem;
}

input::placeholder {
    color: rgb(163 163 163);
    opacity: 1;
}
input::-webkit-input-placeholder {
    color: rgb(163 163 163);
    opacity: 1;
  }

.placeholder-gray::placeholder{
    color: rgb(163 163 163);
}



header {
    background-color: rgb(138, 115, 80);
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}